:root {
  --textarea-height: 44px;
}

div {
  border: 1px solid;
  position: absolute;
  height: calc(250px + var(--textarea-height));
  width: 300px;
  box-sizing: border-box;
}

ul {
  overflow: auto;
  height: calc(100% - var(--textarea-height));
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
}

li {
  padding: 15px 0;
}

li:first-child {
  margin-top: auto;
}

textarea {
  height: var(--textarea-height);
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
}
